body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
}

#page-content {
  display: flex;
  flex-direction: row;

}
#products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}

h1 {
  text-align: center; 
}

.product-card {
  border-style: solid;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
  margin: 1rem;
  /* max-width: 100%; */
  flex: 0 1 calc(10% - 1em);
  box-sizing: border-box;

} 

.product-image {
  width: 200px;
  overflow: none;
}
.quantity {
  display: flex;
  justify-content: space-evenly;
}

/* remove number filed arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.quantity-input {
  width: 30px;
  text-align: right;
}

/* cart drawer */

#cart-container {
  display: flex;
  flex-direction: column;
  z-index: 100;
  height: 200%;
  width: 400px;
  border-style: solid;
}

.cart-drawer-enter {
  opacity: 0;
  z-index: 100;
}

.cart-drawer-enter-active {
  opacity: 1;
  z-index: 100;
  transition: opacity 200ms;
}

.cart-drawer-exit {
  opacity: 1;
  
}
.cart-drawer-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.cart-drawer-exit-done {
  opacity: 0;
}
.cart-thumbnail {
  width: 50%;
}

.cart-button {
  border-radius: 6px;
  padding: 2%;
  color: white;
  background-color: black;
  font-size: large;
}

.cart-incrementor {
  display: flex;

}